

.thumbnail {
  padding: 0px;
  border-radius: $base-radius;
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 90px;
  }
  .fa {
    font-size: 20px;
    color: $light-color-gray;
    margin-bottom: 15px;
  }
    img {
      border-top-left-radius:$base-radius;
      border-top-right-radius:$base-radius;
      width: 100%
    }
    .caption {
      text-align: center;
      padding: 40px 55px 55px 55px;
      h3 {
        margin-top: 0px;
        margin-bottom: 35px;
      }
    }
}
.col-md-4:last-of-type {
  margin-bottom: 30px;
}
