.site-footer {
  background-color: $color-black;
  min-height: 270px;
  display: flex;
  align-items: center;
  padding: 30px;
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    @include tablet {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    }
    @include laptop {
    width: 970px;
    }
    @include desktop {
    width:  1170px;
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    @include tablet {
    flex-direction: row;
    }
    .col-xs-12 {
      padding-right: 0px;
      padding-left: 0px;
      @include tablet {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    .col-md-4:nth-of-type(1)  {
      order: 4;
      display: flex;
      @include tablet {
      order: -1;
      }
    }
  }
  h3 {
    color: $color-white;
    font-size: 22px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 5px;
  }
  p {
    text-align: center;
    color: $mid-color-gray;
    margin-bottom: 25px;
  }
  .footer-copyright{
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
    @include tablet {
    position: absolute;
    margin-bottom: 0px;
    top: 50%;
    transform: translateY(-40%);
    text-align: left;
    }
    &__text {
      text-align: center;
      padding-left: 0px;
      line-height: 150%;
      @include tablet {
        text-align: left;
        padding-left: 20px;
      }

    }
    a {
      color: $mid-color-gray;
    }
    a:hover, a:active, a:focus  {
      color: $color-white;
    }
  }
  .icons {
    @include flexContainer (row, center, center);
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 0;
    }
    a:hover i, a:active i, a:focus i {
     background-color: $mid-color-gray;
     color: $color-black;
    }
    i {
      height: 50px;
      width: 50px;
      border: 1px solid $mid-color-gray;
      border-radius: 96px;
      transition: background-color .3s ease-out;
      @include flexContainer (row, center, center);
      margin: 0 5px;

      &.fa-facebook, &.fa-envelope {
        color: $mid-color-gray;
      }
      &.fa-facebook {
        font-size: 28px;
      }
      &.fa-envelope {
        font-size: 24px;
      }
    }
  }
}
