body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}


.fullheight {
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

blockquote {
	margin: 70px 0;
	border-left: none;
	font-size: 24px;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.site-form {
	.form-control {
		background-color: transparent;
		border: 1px solid $mid-color-gray;
		border-radius: $base-radius;
		height: 50px;
		font-size: 16px;
		color: $mid-color-gray;
	}
	.form-group {
		margin-bottom: 10px;
	}

}
h3 {
	font-weight: bold;
	margin-top: 0px;
	text-transform: uppercase;
}
p {
	color: $text-color-gray;
	line-height: 24px;
}
.flex-container {
	@include flexContainer(column, center, center);
	@include tablet {
		@include flexContainer(row, center, center);
	}
}
